Repository helly25/mbo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mope-uses-external-clang, uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

Path conditions:
  mope-uses-external-clang: any of: mbo/mope/mope.bzl
  uncomment-bazelmod-includes: any of: MODULE.bazel
  no-do-not-merge: any file but: ^.pre-commit-config.yaml$
  no-todos-without-context: any file but: ^[.]pre-commit-config.yaml$

chore(trunk): clear `trunk check -a` findings across the repo
  .bcr/metadata.template.json
  .bcr/presubmit.yml
  .github/workflows/cache_cleanup.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .trunk/configs/.yamllint.yaml
  .trunk/trunk.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  RULES.md
Due: no-do-not-merge, no-todos-without-context

fix(ci): restrict pre-commit clang-format to C/C++, drop JSON conflict
  .pre-commit-config.yaml
Due: none

ci: Node 24 actions + tighten trunk vs pre-commit lint ownership (#182)
  .bcr/metadata.template.json
  .bcr/presubmit.yml
  .github/workflows/cache_cleanup.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .shellcheckrc
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/trunk.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  RULES.md
Due: no-do-not-merge, no-todos-without-context

chore: pre-commit is the single git-hook entry point, bump hedron pin
  .pre-commit-config.yaml
  .trunk/trunk.yaml
  README.md
  bazelmod/dev.MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

ci: harden `done` job into a real aggregating gate
  .github/workflows/main.yml
Due: no-do-not-merge, no-todos-without-context

ci: harden `done` job into a real aggregating gate (#184)
  .github/workflows/main.yml
Due: no-do-not-merge, no-todos-without-context

chore(deps): update Bazel to 9.1.1 and bump module dependencies
  .bazelrc
  .bazelversion
  CHANGELOG.md
  MODULE.bazel
  bazelmod/dev.MODULE.bazel
  bazelmod/llvm.20.1.0.MODULE.bazel
  bazelmod/llvm.MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

chore(deps): bump trunk plugins to v1.10.2 and checkov to 3.2.533
  .trunk/trunk.yaml
Due: no-do-not-merge, no-todos-without-context

fix(macos): bump pinned LLVM 17.0.4 → 20.1.7 to fix exec-config linker segfault
  CHANGELOG.md
  bazelmod/llvm.MODULE.bazel
  mbo/diff/diff.bzl
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

build(deps): pin bashtest 0.3.0 via git_override, drop sh_* autoload workaround
  .bazelrc
  CHANGELOG.md
  MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

ci: drop the MODULE 0.10.0 back-compat test matrix
  .github/workflows/main.yml
  .github/workflows/test.yml
  bazelmod/MODULE.0.10.0.bazel
Due: no-do-not-merge, no-todos-without-context

build(deps): point compile-commands extractor at helly25 fork
  bazelmod/dev.MODULE.bazel
  compile_commands-update.sh
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

build(deps): LLVM toolchain ladder 20/21/22, test on macos-26
  .bazelrc
  .github/workflows/main.yml
  bazelmod/llvm.20.1.0.MODULE.bazel
  bazelmod/llvm.MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

build(deps): use published helly25_bashtest 0.3.0 from the BCR
  MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

build(deps): re-pin compile-commands extractor to merged 75ba4c3
  bazelmod/dev.MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

build(deps): work toward clang 21 default
  .github/workflows/main.yml
  bazelmod/llvm.MODULE.bazel
  mbo/types/internal/decompose_count.h
  mbo/types/internal/decompose_count.h.mope
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

Cannot exclude what is not there.
  .github/workflows/main.yml
Due: no-do-not-merge, no-todos-without-context

Update method of compiler switching. Works for Bazel 9 and some Bazel 8.
  .bazelrc
  bazelmod/llvm.MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

ci: single-source toolchain selection + Bazel-version matrix
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: no-do-not-merge, no-todos-without-context

fix(clang21): store non-const value so constexpr construct_at is legal
  mbo/container/limited_vector.h
  mbo/types/internal/struct_names_clang.h
Due: no-do-not-merge, no-todos-without-context

style: clang-format wrap over-long construct_at lines in limited_vector
  mbo/container/limited_vector.h
Due: no-do-not-merge, no-todos-without-context

ci: use pip shellcheck-py hook instead of docker-based shellcheck
  .pre-commit-config.yaml
Due: none

build(macos): pin deployment target to 11.0 (Apple Silicon, unblocks std::filesystem)
  .bazelrc
Due: no-do-not-merge, no-todos-without-context

ci: enable hermetic clang 21.1.8/22.1.7 as non-blocking test-clang rungs
  .github/workflows/main.yml
  bazelmod/llvm.MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

docs: changelog for clang 21 fix; refresh stale 0.11.0 entries
  CHANGELOG.md
Due: no-do-not-merge, no-todos-without-context

chore(deps): Bazel 9.1.1 toolchain + module updates (#185)
  .bazelrc
  .bazelversion
  .github/workflows/main.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .trunk/trunk.yaml
  CHANGELOG.md
  MODULE.bazel
  bazelmod/MODULE.0.10.0.bazel
  bazelmod/dev.MODULE.bazel
  bazelmod/llvm.20.1.0.MODULE.bazel
  bazelmod/llvm.MODULE.bazel
  compile_commands-update.sh
  mbo/container/limited_vector.h
  mbo/diff/diff.bzl
  mbo/types/internal/decompose_count.h
  mbo/types/internal/decompose_count.h.mope
  mbo/types/internal/struct_names_clang.h
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

ci: fix `done` gate — drop yq, use needs.*.result
  .github/workflows/main.yml
Due: no-do-not-merge, no-todos-without-context

fix: make decompose_count.h clang-format version-stable
  mbo/types/internal/decompose_count.h
  mbo/types/internal/decompose_count.h.mope
Due: no-do-not-merge, no-todos-without-context

Fix CI `done` gate and make decompose_count clang-format-stable (#186)
  .github/workflows/main.yml
  mbo/types/internal/decompose_count.h
  mbo/types/internal/decompose_count.h.mope
Due: no-do-not-merge, no-todos-without-context

ci: enforce that the `done` gate needs every job
  .pre-commit-config.yaml
  .pre-commit/check_done_gate.py
Due: no-do-not-merge, no-todos-without-context

chore: remove remaining WORKSPACE support
  .github/workflows/main.yml
  .github/workflows/release_prep.sh
  MODULE.bazel
  README.md
  WORKSPACE
  bzl/BUILD.bazel
  bzl/archive.bzl
  mbo/diff/BUILD.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

ci: drop now-unused SHA256 in release_prep (WORKSPACE http_archive removed)
  .github/workflows/release_prep.sh
Due: no-do-not-merge, no-todos-without-context

fix(macos): enable ASAN on macOS via LLVM 22.1.7 + absolute_paths
  .github/workflows/main.yml
  bazelmod/llvm.MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

ci: defer macOS+clang+asan; revert absolute_paths/#765 experiment
  .github/workflows/main.yml
  bazelmod/llvm.MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

Remove remaining WORKSPACE support; enforce done-gate job coverage (#187)
  .github/workflows/main.yml
  .github/workflows/release_prep.sh
  .pre-commit-config.yaml
  .pre-commit/check_done_gate.py
  MODULE.bazel
  README.md
  WORKSPACE
  bzl/BUILD.bazel
  bzl/archive.bzl
  mbo/diff/BUILD.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

ci: verify macOS clang+asan via toolchains_llvm #767 fix
  .github/workflows/main.yml
  bazelmod/llvm.MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

ci: pin toolchains_llvm to merged upstream #769 (ef8f9fd)
  bazelmod/llvm.MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context

ci: upgrade `done` gate to bzl's self-check + result-aggregation pattern
  .github/workflows/main.yml
Due: no-do-not-merge, no-todos-without-context

ci: upgrade `done` gate to bzl's self-check + result-aggregation pattern (#189)
  .github/workflows/main.yml
Due: no-do-not-merge, no-todos-without-context

build(deps): toolchains_llvm 1.8.0 from the BCR, drop git_override
  bazelmod/llvm.MODULE.bazel
Due: uncomment-bazelmod-includes, no-do-not-merge, no-todos-without-context
